<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>ClassCalendar</title>
    <link href="static/style.css" rel="stylesheet" type="text/css"/>
    <link rel="icon" href="static/images/icon.jpg">
  </head>
  <header>
    <div class = "container">
      <a onclick="snd.play()"><img src="static/images/logo.png" id="logo"/></a>
      <nav>
        <ul>
          <li><a class="active" href="index.html">Home</a></li>
          <li><a href="assignments.html">Assignments</a></li>
          <li><a href="students2.html">Students</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <!-- Slideshow container -->
  <body>
    <h2>Helping Teachers Plan Efficiently.</h2>
    <p></p>
    <div class="slideshow-container">
      <div class="mySlides fade">
        <img src="static/images/collab1.jpg" style="width:100%">
      </div>

      <div class="mySlides fade">
        <img src="static/images/collab2.png" style="width:100%">
      </div>

      <div class="mySlides fade">
        <img src="static/images/collab3.jpg" style="width:100%">
      </div>
    </div>
    <div style="text-align:center">
      <span class="dot"></span> 
      <span class="dot"></span> 
      <span class="dot"></span> 
    </div>
    <div id="container">
      <div id="desc" style="float: left; width: 50%;height:100%; background:lightgreen;">
        <h4 style="margin-top:50px">What is ClassCalendar?</h4>
        <p style="margin:50px 50px">ClassCalendar is a quick and concise method of tracking student workload and completion through the use of a simple UI.</p>
      </div>
      <div id="examp" style="float:right; width:50%; height:100%;">
        <img src="static/images/example.png" style="width:100%">
      </div>
    </div>
    <script src="static/slideshow.js"> </script>
    <script>var snd = new Audio("static/logo.mp3");
    </script>
  </body>
</html>